* {
  box-sizing: border-box;
  font-family: Karla, sans-serif;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

main {
  background-color: #F5F5F5;
  height: 500px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.die--face {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  background-color: #FFFFFF;
}

.die--num {    
  font-size: 2rem;
  line-height: 50px;
  margin: 0;
}

.die--container {
display: grid;
grid-template-columns: auto auto auto auto auto;
grid-column-gap: 20px;
grid-row-gap: 20px;
padding: 25px;
}

