* {
  box-sizing: border-box;
}

body {
  background-color: #0B2434;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  height: 800px;
  border: 3px solid green; 
  margin: 2%;
}

main {
  background-color: #F5F5F5;
  height: 600px;
  border-radius: 5px;
  border: 1px solid blue;
  margin: 0;
  width: 600px;
}

