* {
  box-sizing: border-box;
  font-family: Karla, sans-serif;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
}

main {
  background-color: #F5F5F5;
  height: 500px;
  width: 500px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.title {
  font-size: 40px;
  margin: 0;
  margin-bottom: 15px;

}

.instructions {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 30px;
  text-align: center;
}

.die--face,
.die--roll_count {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

.die--num {    
  font-size: 2rem;
  line-height: 50px;
  margin: 0;
}

.die--container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.die--roll {
  background-color: #5035FF;
  border-radius: 5px;
  border: 1px solid #5035FF;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: 'Karla', sans-serif;
  height: 36px;
  margin-top: 30px;
  width: 150px;
  cursor: pointer;
}

.die--roll:focus {
  border: 1px solid #5035FF;
}

.die--roll:active {
  background-color: #ffffff;
  color: #5035FF;
}

.dot {
  height: 10px;
  width: 10px;
  list-style: 25px  ;
  background-color: #000000;
  border-radius: 50%;
}

.die--1,
.die--counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.die--2,
.die--3 {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.die--2 .dot:nth-of-type(2),
.die--3 .dot:nth-of-type(3) {
  align-self: flex-end;
}

.die--3 .dot:nth-of-type(2) {
  align-self: center;
}

.die--4,
.die--5,
.die--6 {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.die--4 .column,
.die--5 .column,
.die--6 .column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.die--5 .column:nth-of-type(2)  {
  align-self: center;
}

.die--roll_count {
  background-color: #ffffff;
}

.die--roll_count_title {
  margin-top: 1.5rem;
}